<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lovelace</title>
</head>
<body>
    <h1>lovelace</h1>
    <img src="/img/lovelace.jpg" width = "150" height = "150" alt="lovelace">
    <p>La matemática británica Ada Lovelace, la única hija legítima de lord Byron, se adelantó a su tiempo al desarrollar el primer algoritmo destinado a ser procesado por una máquina. Ada Lovelace desarrolló algunos conceptos que actualmente se consideran visionarios en el campo de la programación</p>
</body>
</html>